body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    margin: 10px 0;
}

#map {
    width: 90vw;
    height: 80vh;
    margin: 0 auto 20px auto;
    border: 2px solid #333;
    border-radius: 8px;
}